form {
    display: grid;
    width: 500px;
}

input {
    height: 30px !important;
}
 
.del {
    height: 35px;
    width: 100px;
    background-color: red;
    color: white !important;
    font-size: 14px;
}

.cancel {
    color: red;
    border: 2px solid red;
    margin-left: 20px;
}